@import url('https://fonts.googleapis.com/css2?family=Racing+Sans+One&family=Raleway:wght@300&display=swap');
*{
margin: 0;
padding: 0;
box-sizing: border-box;
}

 body{
 
    background-color: #f2f2f2;
 }

 .centraliza-container{
    margin: auto;
    height: 100%;

 }

    div{
        width: 85%;
        height: 100%;
        background-color: #f2f2f2;
        padding: 3em;
        box-shadow: 0 0 2.2em rgba(0,0,0, .2);
    }
    header{
        text-align: center;
    }

    header ul{
       margin-top:1.5em;
    }

    header li{
        list-style-type: none;
        display: inline-block;
        font-family: 'Racing Sans One', cursive;
        font-size: 2rem;
        margin-right: 2em;


        
    }

    header li:last-child{margin-right: 0;}
    header a{
        text-decoration: none; color:rgba(255, 47, 47, 0.803);
    }
    main{
        margin-top: 4em;

    }
    article{
        width: 95%;
    }

article img{
    width: 55%;
    float: right;
margin: 0 0 2.5em 2em;
box-shadow: 5px 5px 15px rgba(0,0,0, .39);
}

p{ 
    font-size: 1.5rem;
    line-height: 160%;;
    margin-bottom: 1em;
}
h2{
font-size: 3rem;
margin-bottom: .72em;
font-family: "Racing Sans one";
color:rgba(246, 73, 73, 0.575);

}
hr{
    width: 85%;
    margin: 4em auto;
    border: 1.5px solid rgba(252, 41, 41, 0.575);
    box-shadow: 0px 1px 6px rgba(0, 0, 0, .16);
}

.direita{
    float: left;
    margin-left: 0;
    margin-right: 2.5em;
}

.texto-direita{
    text-align: right;
}

